@charset "UTF-8";
/* CSS Document */

.display-image-right {
	width: 100%;
}

.display-image-left {
	width: 100%;
}

@media only screen and (min-width: 30em) {

.display-image-right {
	width: 100%;
	padding-left: 1rem;
}

.display-image-left {
	width: 100%;
	padding-right: 1rem;
}

}

@media only screen and (min-width: 50em) {

.display-image-right {
	width: 100%;
	padding-left: 2rem;
}

.display-image-left {
	width: 100%;
	padding-right: 2rem;
}

}