@charset "UTF-8";
/* CSS Document */

.small {
	font-size: .75rem;
}

footer {
	background-color: #FFF;
	height: 2rem;
	bottom: 0;
	padding: 1rem;
	padding-top: 4rem;
}

.social {
	width: 2rem;
	display: block;
	border: none;
	padding: 0 .25rem;
	float: right;
}

.extra-pad {
	padding-bottom: 1rem;
}

@media only screen and (min-width: 30em) {

.small {
	font-size: 1rem;
}

footer {
	background-color: #FFF;
	height: 2rem;
	bottom: 0;
	padding: 10rem 2rem 2rem;
}

.social {
	width: 3rem;
	display: block;
	border: none;
	padding: 0 .5rem;
	float: right;
}

.extra-pad {
	padding-bottom: 1rem;
}