@charset "UTF-8";
/* CSS Document */

body {
	background-color: #FFF;
	padding: 1.5rem 5rem 1.5rem;
}

h1 {
	float: right;
}

ol {
	list-style: none;
}

.nav {
	padding-bottom: 1.5rem;
	border-bottom: rgba(0,102,255,0.25) solid 4px;

}

.nav a,
.nav a:link,
.nav a:visited {
	text-decoration: none;
	color: #FFFFFF;
}

.nav a:hover,
.nav a:focus,
.nav a:active {
	background-color: #FFF;
}

