@charset "UTF-8";
/* CSS Document */

p {
	text-transform: none;
}

.product {
	margin: 1rem .5rem;
	border: solid #D9D9D9 1px;
	padding: 1rem;
}

.product-detail {
	overflow: hidden;
}

.less-margin {
	margin: 1rem 0 0;
}

.img-char {
	width: 100%;
	display: block;
}

.img-position {
	float: left;
	margin: 0 0 10px 0;
}