@charset "UTF-8";
/* CSS Document */

p {
	text-transform: none;
}

.product {
	border: solid #D9D9D9 1px;
	padding: 1rem;
}

.less-margin {
	margin: 1rem 0 0;
}

.img-char {
	width: 100%;
}

.img-position {
	float: left;
}