@charset "UTF-8";
/* CSS Document */

p {
	text-transform: none;
}

.product {
	border-top: solid #D9D9D9 1px;
	padding: 1rem;
	overflow: hidden;
}

.less-margin {
	margin: 1rem 0 0;
}

.img-char {
	width: 100%;
	display: block;
}

img-char-width {
	width: 100%;
}

.img-position {
	float: left;
}

.padding-right {
	padding-right: 1rem;
	padding-bottom: 1rem;
}

.padding-left {
	padding-left: 1rem;
	padding-bottom: 1rem;
}

.padding-bottom {
	padding-bottom: 1rem;
}