@charset "UTF-8";
/* CSS Document */

/* HEX & RGBA Values 
	#0066FF - rgba(0,102,255,0.25), rgba(0,102,255,0.5), rgba(0,102,255,0.75), rgba(0,102,255,0.1)
	#FFFFFF - rgba(255,255,255,1)
	#D9D9D9 - rgba(217,217,217,1)
	#747474 - rgba(116,116,116,1)
	#000000 - rgba(0,0,0,1)
*/

html {
	font: normal 100%/1.75 Helvetica, sans-serif; /*16px/24px */
}

h1, h2, h3, h4, h5, h6, p, blockquote, ul, ol, dl, figure, table {
	margin: 0 0 1.5rem;	
}

.yotta {
  font-size: 4.7684rem;
  line-height: 1.0310;
}

.zetta {
  font-size: 3.8147rem;
  line-height: 1.0310;
}

h1, .exa {
  font-size: 3.0518rem;
  line-height: 1.1276;
}

h2, .peta {
  font-size: 2.4414rem;
  line-height: 1.0068;
}

h3, .tera {
  font-size: 1.9531rem;
  line-height: 1.0068;
}

h4, .giga {
  font-size: 1.5625rem;
  line-height: 1.2585;
}

h5, .mega {
  font-size: 1.2500rem;
  line-height: 1.1798;
}

h6, .kilo {
  font-size: 1.0000rem;
  line-height: 1.4748;
}

small, .milli {
  font-size: 0.8000rem;
  line-height: 1.2290;
}

.micro {
  font-size: 0.6400rem;
  line-height: 1.5363;
}

p {
	font-size: .85rem;
	color: #000;
}

h1, h2, h3, h4, h5, h6,
.brand {
	color: rgba(0,102,255,0.5);
	font-family: Helvetica, sans-serif;
}

.brand-family: {
	font-family: Helvetica, sans-serif;	
}

::selection {
	background-color: #06F;
	color: #fff;
}

a,
a:link {
	color: rgba(0,102,255,0.5);
	text-decoration: none;
	border-bottom: 0.1em solid rgba(0,102,255,0.5);
	transition: all 200ms linear;
}

a:visited {
	color: #0066FF;
	border-bottom-color: rgba(0,102,255,0.5);
}

a:hover,
a:focus,
a:active {
	color: rgba(0,102,255,0.25);
	border-bottom-color: rgba(0,102,255,0.25);
}

ul {
	list-style-type: none;
	font-size: .85rem;
}

ul li {
	position: relative;
}

ul li:before {
	content: "►";
	color: #0066FF;
	position: absolute;
	left: -2em;
}

ol {
	font-size: .85rem;
}

dl {
	font-size: .85rem;
}

blockquote {
	margin: 0 8rem 0;
}

blockquote footer {
	text-align: right;
}

cite {
	color: rgba(0,102,255,1);
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

hr {
	height: 2px;
	color: #D9D9D9;
	background-color: #D9D9D9;
}

table {
	background-color: #FFF;
	border: #FFF;
	width: 100%;
}

table thead {
	background-color: rgba(0,102,255,0.25);
	font-size: 1rem;
	padding: 1rem;
	border: solid #FFF 3px;
	color: #FFF;
	text-transform: uppercase;
}

table td {
	font-size: .85rem;
	text-align: left;
	padding: .5rem 1rem;
}

@media only screen and (min-width: 30em) {

table {
	background-color: #FFF;
	border: #FFF;
	width: 75%;
}

}

@media only screen and (min-width: 50em) {

table {
	background-color: #FFF;
	border: #FFF;
	width: 50%;
}

}


caption {
	font-size: .75rem;
	text-align: right;
	color: #747474;
}

mark {
	background-color: rgba(0,102,255,0.25);
}

a, time, i, ins, b, del, s, data, dfn, q, sub, sup, abbr {
}

.extra-mar {
	margin-top: 1rem;
}

.extra-mar-bottom {
	margin-bottom: 4.25rem;
}

.extralg-mar-bottom {
	margin-bottom: 6rem;
}

.gutter {
	padding: 1rem;
}

.gutter-side {
	padding-right: 1.5rem;
}