# Accessibility Testing Report

User testing was conducted by {Kayla Tomkiewicz} on {March 31} between the times of {5:15} and {6:30} with the following participants:

- {Bekka Wright}
- {Megan Davis}
- {Sarah Knowles}
- {Caterina O'Leary}
- {Greg Leblanc}
- {Alyson Conner}

## Tasks

1. {Go to About Us Page}
2. {Buy anything}
3. {Find out the Cozy Corner phone number}

---

## Individual Results & Observations

### {Bekka Wright}

- {Was able to find everything with little trouble.}

### {Megan Davis}

- {She completed the task as expected…}

### {Sarah Knowles}

- {Was able to find everything with little trouble}

### {Caterina O'Leary}

- {Found everything without throuble.}
- {Little annoying having the screen reader read the dots between numbers in the phone number.}

### {Greg Leblanc}

- {He completed the task as expected.}
- {Had trouble going through individual product pages because he got caught up in the sub-nav.}

### {Alyson Conner}

- {Had trouble going through individual product pages because she got caught up in the sub-nav.}

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {Nothing serious}

### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants had trouble navigating product pages because sub-nav confused them. Need to move it below main content and rename).

### Minor, Annoying, Won’t Hinder Completion

- {Screen reader reads off unnecessary punctuation/bullet points.}