---
layout: default
---

<h2>Welcome!</h2>

<p>We at the Cozy Corner are proud to offer you the very best Canadian-made textiles, yarns, & fabrics. We carry a wide range of arts and crafts supplies, suitable for every possible project. Visit one of our 2 Ottawa-based locations or shop online from the convenience of your home.</p>


<div class="grid">
    
    	<div class="module module-m-1-2 module-l-1-2">
       		{% include promo-small.html title="Spring Clearout!" desc="Save 50% on Luxury winter yarns" image="yarn.jpg" %}
       </div>
       
       <div class="module module-m-1-2 module-l-1-2">
        	{% include promo-small.html title="Doorbuster" desc="Visit one of two locations before 10am, March 20th and get a $20 gift card!" image="yarn.jpg" %}
       </div>
       
       <div class="module module-m-1-2 module-l-1-2">
        	{% include promo-small.html title="Spring & Summer Arrivals" desc="Shop our new selections now!" image="yarn.jpg" %}
       </div>
   
</div>