# User Testing Report

User testing was conducted by {Kayla Tomkiewicz} on {March 24} between the times of {4:30} and {4:50} with the following participants:

- {Bekka Wright}
- {Megan Davis}
- {Sarak Knowles}


## Tasks

1. Locate the blue “Bernat Truffles” yarn and purchase it.

2. Search for “Bernat” in multicolour and add it to your cart.

3. Find out the spool length of the “Homespun Dark Blue” yarn.

---

## Individual Results & Observations

### {Bekka Wright}

- {Found products efficiently.}
- {Make product titles darker.}
- {Added between nav links.}

### {Megan Davis}

- {Links in product page hard to read.}
- {Was able to easily navigate.}


### {Sarah Knowles}

- {Was able to browse without issue.}

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {Nothing of note.}

### Serious, Causes Frustration, May Hinder Completion

- {None.}

### Minor, Annoying, Won’t Hinder Completion

- {Need to make the product titles in the products page more prominent. Had a hard time reading.}
