# User Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- Bekka Wright
- {John Doe}
- {Jordan Doe}

## Tasks

1. Locate the blue “Bernat Truffles” yarn and purchase it.

2. Search for “Bernat” in multicolour and add it to your cart.

3. Find out the spool length of the “Homespun Dark Blue” yarn.

---

## Individual Results & Observations

### {Bekka Wright}

- 

### {John Doe}

- {He clicked on the link as expected…}
- {He had troubles completing a specific task…}
- {He asked these questions…}
- {Fill in any observations that were important/relevant…}
- etc.

### {Jordan Doe}

- {She clicked on the link as expected…}
- {He had troubles completing a specific task…}
- {She asked these questions…}
- {Fill in any observations that were important/relevant…}
- etc.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants had this problem…}
- etc.

### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants succeeded where one of them failed…}
- etc.

### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out this inconsistency…}
- etc.