@charset "UTF-8";
/* CSS Document */

body {
	text-transform: uppercase;
	font-family: Helvetica, sans-serif;
}


.btn,
.btn:link,
.btn:visited {
	display: block;
	padding: 1.25em 0;
	margin-top: .5rem;
	background-color: #E36062;
	background-image: linear-gradient(to bottom, #F58284, #E36062);
	border-radius: 12px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	color: #FFF;
	font-weight: bold;
	border: 0;
	text-align: center;
	font-size: .85rem;
}

.btn-alt,
.btn-alt:link,
.btn-alt:visited {
	display: block;
	padding: .85em 1em;
	background-image: linear-gradient(to bottom, #81C696, #60A474);
	border-radius: 12px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	color: #FFF;
	font-weight: bold;
	border: 0;
	text-align: center;
}

.btn:hover,
.btn:focus,
.btn:active {
	background-color: linear-gradient(to bottom, #60A474, #40A252);
	border-bottom-color: rgba(0,102,255,0.25);
}

.btn-alt:hover,
.btn-alt:focus,
.btn-alt:active {
	background-color: linear-gradient(to bottom, #60A474, #40A252);
	border-bottom-color: rgba(0,102,255,0.25);
}
	
@media only screen and (min-width: 30em) {
.btn,
.btn:link,
.btn:visited {
	display: inline-block;
	padding: .85em 1em;
	margin: .25em .25em;
	background-color: #E36062;
	background-image: linear-gradient(to bottom, #F58284, #E36062);
	border-radius: 12px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	color: #FFF;
	font-weight: bold;
	border: 0;
	font-size: 1.0000rem;
	width: auto;
}

.btn-alt,
.btn-alt:link,
.btn-alt:visited {
	display: inline-block;
	padding: .85em 1em;
	background-color: #0066FF;
	background-image: linear-gradient(to bottom, #81C696, #60A474);
	border-radius: 12px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	color: #FFF;
	font-weight: bold;
	border: 0;
	font-size: 1.0000rem;
	width: auto;

}