<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>{{page.title}} · Cozy Corner</title>

<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="viewport" content="width=device-width,initial-scale=1">

<link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/buttons.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/forms.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/header.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/list-group.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/media-object.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/product-details.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/product-list.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/promos.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">

<link href="{{site.baseurl}}/css/promos.css" rel="stylesheet">

</head>

<body>

<!-- Header --------------------------------------------------------------->

    <header class="extralg-mar-bottom">
    
        <div class="nav">
        
            <h1 class="title">Cozy Corner</h1>
                
                <nav>
                       <a class="btn milli {% if page.url == '/' %}current{% endif %}" href="{{site.baseurl}}/">Home</a>
                       <a class="btn milli {% if page.url contains 'about' %}current{% endif %}" href="{{site.baseurl}}/about/">About Us</a>
                       <a class="btn milli {% if page.url == '/contact/' %}current{% endif %}" href="{{site.baseurl}}/contact/">Contact</a>
               </nav>
               
        </div>
    
        <div class="search">
        
            <form method="get" action="{{site.baseurl}}/search/" class="search-wrapper cf">
                <input type="text" placeholder="Search" required="">
                <button type="submit">Search</button>
            </form>
            
        </div>
        
    </header>
    
{% if page.showbanner %}
    <div class="banner">
        <h4>{{page.bannertext}}</h4>
    </div>
{% endif %}

    
<!-- Content --------------------------------------------------------------->


{{content}}


<!-- Footer --------------------------------------------------------------->


	<footer>

		<a href="http://facebook.com"><img class="social" src="{{site.baseurl}}/images/fb-icon.svg" alt="Facebook Icon"></a>

				<a href="http://twitter.com"><img class="social" src="{{site.baseurl}}/images/twitter.svg" alt="Twitter Icon"></a>

		<p class="extra-pad small">Copyright 2014. Property of Cozy Corner Inc.</p>
    
    </footer>

</body>
</html>
